<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | ¡Oferta Exclusiva!</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>
    {% block content %}{% endblock %}

{% block header %}

    <header>
        <h1>¡Gangazos!</h1>
        <p class="subtitulo">Descuento especial por tiempo limitado.</p>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Inicio</a></li>
                <li><a href="{% url 'about' %}">Sobre los Gangazos</a></li>
                <li><a href="{% url 'portafolio' %}">Categorias en oferta</a></li>
                <li><a href="{% url 'contact' %}">Contactenos</a></li>
                <li><a href="{% url 'productos' %}">Productos</a></li>
                <li><a href="{% url 'logout' %}" class="logout-button">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

{% endblock %}

    <section>
        <div>
            <h2>¿Por qué aprovechar los diferentes gangazos?</h2>
            <ul>
                <li>Beneficio 1: Ahorra dinero.</li>
                <li>Beneficio 2: Obtén calidad superior.</li>
                <li>Beneficio 3: Disfruta de características exclusivas.</li>
            </ul>
        </div>
    </section>

    <section>
        <div>
            <h2></h2>
        </div>
    </section>
    <section>
        <div>
            <h2>¡Actúa ahora!</h2>
            <p>La oferta termina pronto. ¡No esperes más!</p>
            <img src="{% static 'core/img/Descuento.jfif' %}" alt="Descuentos" height="200px" weight="200px">
            <br>
            <button><a href="{% url 'portafolio' %}">¡Gangazos!</a></button>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Tu Idea Hecha Realidad</p>
    </footer>
    </body>
</html>